.list-list, .main-list, .list__icon__black, .list__icon, .logofooter__item, .div__footer, .subscribe-btn, .input, .team__svg__list, .team__list, .team__position, .team__name, .team__title, .whatwedo__list, .whatwedo__title, .about__list, .address__icon, .address__list, .nav__list, .nav, .header, .team-title, .whatwedo-title, .modal__label, .address-icon, .list-icon-black, .div-footer, .list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-title, .whatwedo-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3%;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
li,
form,
label,
input,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02;
  background-color: #ffffff;
  color: #212121;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px 0 15px;
  outline: solid red;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list-icon {
  gap: 10px;
}

.list-icon-black {
  gap: 10px;
  margin: 0px 30px 30px 32px;
}

.icon-black {
  width: 20px;
  height: 20px;
}

.icone-black {
  padding: 12px;
  fill: #afb1b8;
  border-radius: 50%;
  display: block;
}

.icone-black:hover,
.icone-black:focus {
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;
}

.address-item:hover .address-icon {
  fill: #2196f3;
}

.yaco-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.company-icon {
  width: 40px;
  height: 51px;
  fill: #afb1b8;
}

.round-icon {
  width: 43px;
  height: 41px;
  margin: 24px 64px 26px 61px;
  fill: #afb1b8;
}

.foster-icon {
  width: 84px;
  height: 40px;
  margin: 24px 42px 26px 43px;
  fill: #afb1b8;
}

.brand-icon {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: #afb1b8;
}

.tagline-icon {
  width: 93px;
  height: 43px;
  margin: 22px 38px 25px;
  fill: #afb1b8;
}

.vipicon {
  display: block;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
}

.vipicon:hover,
.vipicon:focus {
  border: 1px solid #2196f3;
}

.vipicon:hover .yaco-icon {
  fill: #2196f3;
}

.icon-footer {
  fill: #ffffff;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  display: block;
}

.icons-footer {
  width: 20px;
  height: 20px;
}

.icon-footer:hover,
.icon-footer:focus {
  background-color: #2196f3;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  padding: 12px;
  border-radius: 50%;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  visibility: visible;
}

.modal {
  z-index: 999999999;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  opacity: 1;
  visibility: visible;
}

.backdrop.is-hidden {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

.modal__close {
  fill: #000;
}

.X {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 8px 8px 2px 490px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
}

.X > svg {
  width: 14px;
  height: 14px;
  background-color: #fff;
  fill: rgb(0, 0, 0);
}

.X > svg:hover,
.X > svg:focus {
  fill: #2196f3;
}

.modal__name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 24px;
  color: rgb(33, 33, 33);
}

.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 52px;
  margin-top: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal__icon:hover,
.modal__icon:focus {
  fill: #2196f3;
}

.comment__modal {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #757575;
  margin: 12px 466px 4px 40px;
}

.modal__input {
  width: 448px;
  height: 40px;
  border-width: 1px;
  border-radius: 4px;
  padding: 10px 10px 10px 40px;
  border: 1px solid rgb(117, 117, 117);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgb(117, 117, 117);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal__input:hover,
.modal__input:focus,
.modal__input:active {
  border: 1px solid #2196f3;
}

.modal__input:hover .modal__icon {
  fill: #2196f3;
}

.modal__label {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgb(117, 117, 117);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: relative;
  margin-bottom: 16px;
}

.input-checkbox {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 14px;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  color: #2196f3;
  letter-spacing: 0.03;
  margin-right: 93px;
}

.logo-item1 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03;
}

.logo-footer {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 3%;
  color: #ffffff;
  margin-bottom: 20px;
}

.footerlogo-item1 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03;
}

.title {
  color: #2196f3;
}

.whatwedo-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.wharwedo-title {
  display: block;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 30px 0;
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  line-height: 100%;
  text-align: center;
}

.new-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.team-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.subscribtion-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__list {
  gap: 53px;
  margin-right: 310px;
}
.nav__item:hover {
  color: #2196f3;
}
.nav__item {
  color: #212121;
  position: relative;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item.current::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav__item:hover::after {
  content: "";
  display: inline-block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -28px;
  left: 0;
}

.address__list {
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address__item {
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address__item:hover .address__icon {
  fill: #2196f3;
}

.address__item:hover {
  color: #2196f3;
}

.email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/webstudiobackgroundd.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/webstudiobackgroundd.jpg);
}

.button-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 6%;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 30px;
}

.about {
  margin-bottom: 94px;
  margin-top: 94px;
  margin-bottom: 94px;
}

.about__list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 30px;
}

.about__item::before {
  content: "";
  display: inline-block;
  border-radius: 8px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 120px;
}

.about__item:nth-child(1)::before {
  background-image: url(../images/antenna\ 1.png);
}

.about__item:nth-child(2)::before {
  background-image: url(../images/clock\ 1.png);
}

.about__item:nth-child(3)::before {
  background-image: url(../images/diagram\ 1.png);
}

.about__item:nth-child(4)::before {
  background-image: url(../images/astronaut\ 1.png);
}

.whatwedo {
  display: none;
}
@media screen and (min-width: 1200px) {
  .whatwedo {
    display: block;
  }
}

.whatwedo__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3%;
  margin-bottom: 50px;
}

.whatwedo__list {
  gap: 30px;
}

.whatwedo__image {
  width: 370px;
  height: 294px;
  width: 100%;
  height: auto;
}

.whatwedo__item {
  width: 370px;
  height: 294px;
  position: relative;
}

.wharwedo__title {
  display: block;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 30px 0;
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  line-height: 100%;
  text-align: center;
}

.vipclients {
  margin-bottom: 94px;
}

.vipclients__name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 50px;
}

.vipclients__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex block;
  gap: 30px;
}

.vipicon {
  display: block;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
}

.vipicon:hover,
.vipicon:focus {
  border: 1px solid #2196f3;
}

.vipicon:hover .yaco-icon {
  fill: #2196f3;
}

.team {
  padding-top: 94px;
  padding-bottom: 50px;
  background-color: #f5f4fa;
  margin-bottom: 94px;
}

.team__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3%;
  margin-bottom: 50px;
}

.team__name {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

.team__position {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(117, 117, 117);
  margin-bottom: 16px;
}

.team__image {
  width: 270px;
  height: 260px;
}

.team__list {
  gap: 30px;
}

.teamname__list {
  width: 270px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 5px 2px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 5px 2px 5px rgba(0, 0, 0, 0.14);
  margin-bottom: 188px;
  background-color: #fff;
}

.team__svg__item {
  fill: rgb(175, 177, 184);
}

.team__svg__link {
  padding: 12px;
  border-radius: 50%;
  display: inline-block;
}

.team__svg__link:hover {
  background-color: #2196f3;
  fill: #fff;
}

.team__svg__icon {
  width: 20px;
  height: 20px;
}

.text__form {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: rgb(117, 117, 117);
  margin-top: 20px;
}

.link__form {
  margin-left: 3px;
  margin-right: 51px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #2196f3;
}

.input > input {
  width: 16px;
  height: 15px;
  margin: 25px 8px 34px 52px;
}

.send__form {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #2196f3;
  padding: 10px 52px;
  margin: 0px 164px 40px;
  border: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
}

.send__form:hover,
.send__form:focus {
  background-color: #2196f3;
}

.label-area {
  width: 448px;
  height: 120px;
  margin: 4px 40px;
  display: inline-block;
}

.input-area {
  width: 448px;
  height: 120px;
  display: inline-block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
  position: relative;
}

.text-area {
  display: inline-block;
  width: 448px;
  height: 120px;
  padding: 12px 0px 84px 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}

.text-area.input-area {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 4px;
  min-height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-area.input-area:focus {
  color: #2196f3;
}

.comment-area {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgb(117, 117, 117);
  margin: 10px 391px 4px 40px;
}

.subscribtion-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.subscribtion {
  margin-left: 93px;
  width: 358px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.subscribtion-input {
  border-radius: 2px;
  border: #757575;
  background-color: rgb(47, 48, 58);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 16px;
}

.subscribe-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: rgb(47, 48, 58);
  padding-top: 60px;
  padding-bottom: 60px;
}

.mail__footer {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
  margin-top: 9px;
  margin-bottom: 9px;
}

.phn__footer {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
  display: block;
  margin-top: 9px;
}

.address__footer {
  font-family: "roboto" sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: block;
  line-height: 1, 71;
  letter-spacing: 3%;
  margin-bottom: 9px;
  color: #ffffff;
}

.info__footer {
  gap: 9px;
}

.footer__contact {
  margin-right: 70px;
}

.logo__footer {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 3%;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__item {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03;
}

.logofooter__item {
  margin-bottom: 20px;
  color: #2196f3;
}

.icon__footer {
  fill: #ffffff;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  display: block;
}

.icons__footer {
  width: 20px;
  height: 20px;
}

.icon__footer:hover,
.icon__footer:focus {
  background-color: #2196f3;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  padding: 12px;
  border-radius: 50%;
}

.list__icon {
  gap: 10px;
}

.list__icon__black {
  gap: 10px;
  margin: 0px 30px 30px 32px;
}

.icon__black {
  width: 20px;
  height: 20px;
}

.icone__black {
  padding: 12px;
  fill: #afb1b8;
  border-radius: 50%;
  display: block;
}

.icone__black:hover,
.icone__black:focus {
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;
}

.new__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.main-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03;
  line-height: 1.6;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 94px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.list-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 94px;
  gap: 30px;
}

.list-list img {
  width: 370px;
}

.list-item {
  position: relative;
  overflow: hidden;
}

.image-item {
  width: 370px;
  height: 294px;
}

.list-item:hover {
  -webkit-box-shadow: 2px 2px 5px #000, 5px 5px 10px #000;
          box-shadow: 2px 2px 5px #000, 5px 5px 10px #000;
}

.list-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  background-color: #2196f3;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.list-wrap.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  color: white;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.list-name-wrap {
  position: relative;
  z-index: 2;
}

.list-item:hover .list-wrap {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.wrap-text {
  font-family: "Roboto";
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 63px 24px 63px 24px;
}