.burger {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 95;
  top: 0;
  left: 0;
  opacity: 1;
  padding: 48px 40px;
}
.burger.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.burger__contain {
  //   display: none;

  //   @media screen and (min-width:768px){
  //     display: flex;
  //   justify-content: space-between;
  //   flex-direction: column;
  //   }
}

.burger__menu {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  position: relative;
}

.icon__burger {
  width: 40px;
  height: 40px;
}

.close {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  padding: 10px 15px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger__close {
  width: 35px;
  height: 35px;
}

.burger__close {
}
.burger__list {
}
.burger__item {
}
.burger__address__list {
}
.burger__address__icon {
}

.burger.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.burger__address__link {
}
.burger__list__links {
}
.burger__item__links {
}
.burger__links {
}
