.burger {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 95;
  top: 0;
  left: 0;
  opacity: 1;
  padding: 48px 40px;
}
.burger.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.burger__contain {
  //   display: none;

  //   @media screen and (min-width:768px){
  //     display: flex;
  //   justify-content: space-between;
  //   flex-direction: column;
  //   }
}

.burger__menu {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  position: relative;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon__burger {
  width: 40px;
  height: 40px;
}

.close {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  padding: 10px 15px;
  position: absolute;
  top: 50px;
  right: 58px;
  fill: rgba(33, 33, 33, 1);
}

.burger__close {
  width: 35px;
  height: 35px;
  display: block;
}

.burger__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 302px;
}
.burger__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2%;
  text-align: center;
  margin-top: 48px;
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
}

.burger__item:hover {
  color: rgba(33, 150, 243, 1);
}

.burger__address__list {
  margin-bottom: 20px;
}
.burger__address__icon {
}

.burger.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.burger__address__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2%;
  color: rgba(117, 117, 117, 1);
}

.burger__address__link:hover {
  font-size: 34px;
  color: rgba(33, 150, 243, 1);
}

.burger__list__links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.burger__item__links {
}
.burger__links {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: rgba(117, 117, 117, 1);
}

.burger__links:hover {
  color: rgba(33, 150, 243, 1);
}
