.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--accent-color);
  letter-spacing: 0.03;
  margin-right: 93px;
}

.logo-item1 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03;
}


.logo-footer {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 3%;
  color: #ffffff;
  margin-bottom: 20px;
}


.footerlogo-item1 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03;
}