.backdrop {
  position: fixed;
  background-color: #00000033;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  visibility: visible;
}

.modal {
  z-index: 999999999;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  opacity: 1;
  visibility: visible;
}

.backdrop.is-hidden {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

.modal__close {
  fill: #000;
}
.X {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 8px 8px 2px 490px;
  padding: 6px;
  border: 1px solid #0000001a;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
}
.X > svg {
  width: 14px;
  height: 14px;
  background-color: #fff;
  fill: rgba(0, 0, 0, 1);
}

.X > svg:hover,
.X > svg:focus {
  fill: $accent-color;
}

.modal__name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 24px;
  color: rgba(33, 33, 33, 1);
}

.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  margin-top: 12px;
  top: 13px;
  left: 15px;
  z-index: 2;
}
.modal__icon:hover,
.modal__icon:focus {
  fill: $accent-color;
}

.comment__modal {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #757575;
  margin: 12px 466px 4px 40px;
}

.modal__input {
  width: 100%;
  border-width: 1px;
  border-radius: 4px;
  padding: 10px 10px 10px 40px;
  border: 1px solid rgba(117, 117, 117, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 1);
  box-sizing: border-box;
}

.modal__input:hover,
.modal__input:focus,
.modal__input:active {
  border: 1px solid $accent-color;
}

.modal__input:hover .modal__icon {
  fill: $accent-color;
}

.modal__label {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
  @extend %flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  margin-bottom: 16px;
}

.input-checkbox {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 14px;
}
