.about {
  margin-bottom: 94px;
  margin-top: 94px;
  margin-bottom: 94px;
}
.about__list {
  display: flex;
  align-items: start;
  gap: 30px;
}

.about__item::before {
  content: "";
  display: inline-block;
  border-radius: 8px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 120px;
}
.about__item:nth-child(1)::before {
  background-image: url(../images/antenna\ 1.png);
}
.about__item:nth-child(2)::before {
  background-image: url(../images/clock\ 1.png);
}
.about__item:nth-child(3)::before {
  background-image: url(../images/diagram\ 1.png);
}
.about__item:nth-child(4)::before {
  background-image: url(../images/astronaut\ 1.png);
}
