.main-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03;
  line-height: 1.6;
  @extend %flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-top: 94px;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.buttonmain-item {
  padding: 6px 22px;
  border: none;
  background-color: rgba(245, 244, 250, 1);
  color: rgba(33, 33, 33, 1);
  border-radius: 4px;
}

.buttonmain-item:hover {
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
}

.list-list {
  @extend %flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
  gap: 30px;

  @media screen and (min-width: 768px) {
  }
}

.list-list img {
  width: 450px;
  height: 294px;
}

.list-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  border: 1px solid rgba(238, 238, 238, 1);

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.image-item {
  width: 100%;
}

.image__name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
}

.list-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.list-wrap {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(150%);
  background-color: $accent-color;
  transition: transform 300ms ease-in;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.list-wrap.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $accent-color;
  color: white;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.list-name-wrap {
  position: relative;
  z-index: 2;
}

.list-item:hover .list-wrap {
  transform: translateY(0);
}
.wrap-text {
  font-family: "Roboto";
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  padding: 63px 24px 63px 24px;
}
