.subscribtion-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 700;
}

.subscribtion {
  flex-direction: column;
  display: flex;
  gap: 10px;

  margin-bottom: 20px;
}

.subscribtion-input {
  border-radius: 1px;
  display: inline-block;
  padding: 15px;
  border: #757575;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px;
  //   margin-left: 16px;
  min-width: 100%;
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.subscribe-btn {
  background-color: $accent-color;
  display: inline-block;
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 14px;
  gap: 5px;
  transition: background-color 0.3s;
  font-family: "Roboto", sans-serif;
  width: 200px;
  margin: 0 auto;
}
