.vipclients {
  margin-bottom: 94px;
}
.vipclients-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 50px;
}

.vipclients-list {
  align-items: center;
  display: flex block;
  gap: 30px;
}

.vipicon {
  display: block;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
}

.vipicon:hover,
.vipicon:focus {
  border: 1px solid #2196f3;
}
.vipicon:hover .yaco-icon {
  fill: #2196f3;
}

